.lowLogo {
  display: block;
  text-align: center;
  width: 100%;
  margin: 20px auto;
}
.lowContact {
  width: 50%;
  margin: 0 auto 12px;
}
.lowContact > li > a{
  color: orange;
}
.lowContact > li > a:hover {

}
.nav_style {
  background-color: orange;
  color : #fff;
}
