
/* logo class, mobile center styling*/

.lowLogo > figure > img{
  display: block;
  margin: 25px auto;
}
.lowContact > ul > li{
  color: #fa641c;
  font-size: 17px;
  text-decoration: none;
  margin: 0 auto 15px;
  font-family: "Cairo-Regular";
}
.lowContact > ul > li > a{
  color: #fa641c;
}
.lowContact > li > a:hover {

}
.bar_wrapper >nav {
  background-color: #fa641c !important;
  border: none;
}
.get_color{
  color: #fff !important;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.burger_menu {
  border: none;
}
.burger_menu:hover,
.burger_menu:active,
.burger_menu:focus {
  background-color: inherit;
}
/*.navbar_style,
.navbar_style > li.active > a, .navbar_style > li.active > a:hover, .navbar_style > li.active > a:focus {
  color: #fff;
}
.getAQuote_dropdown {
  text-decoration: none;
}
.getAQuote_dropdown, .getAQuote_dropdown > li,
.getAQuote_dropdown:active, .getAQuote_dropdown:focus  {
  background-color: #fff;

}*/
@media screen and (min-width: 768px) {
.headerLogo_wrapper {
  position: relative;
}
.lowLogo {
  float: left;
}
.lowContact {
  position: absolute;
  top: 45%;
  right: 6%;
}
.lowContact > ul > li{
  font-size: 30px;
  margin: auto;
  }
}

@media screen and (min-width: 1024px) {
.headerLogo_wrapper {
  position: relative;
}
.lowContact {
  position: absolute;
  top: 45%;
  right: 6%;
  }
}
