



body{
    
    font-family: "Cairo-Regular";
}

* {
    box-sizing: border-box;
}
.header-in{
    margin-top: 10px auto;
}
.logo{
    position: relative;
    margin-top: 1%;
}
.logo:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.1); 
/* 
* {
  box-sizing: border-box;
}  */
/* logo class, mobile center styling*/
/* .lowLogo {
  text-align: center;
  margin: 25px auto;

}  */
.lowLogo > figure > img{
  width: 50%;
  margin-left: 40%;
  margin-top: 8%;
  position: relative;
}

.lowContact > li > a{
  color: #fa641c;
  font-size: 25px;
 font-family: "Cairo-Regular"
    
}
.lowContact > li > a:hover {
z-index: 1000;
}
.nav_style {
  background-color: #fa641c;
  color : #fff;
}
/*center contact detials */
.lowContact {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}
/* to control contact color*/
.lowContact > li > a{
  color: #fa641c;
  text-transform: uppercase;
  text-decoration: none;
}
.lowContact > li > a:hover {
  color: #b14410;
  cursor: pointer;
  text-decoration: none;
}
.navbar_style {
  background-color: #fa641c;
}
.navbar_style > a {
  color : #fff !important;
  margin: auto 8px;
  font-size: 14px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  display: inline-block;
  text-transform: uppercase;
  height: 65px;
  font-weight: bold;
}
.navbar_style > button {
  width: 35px;
  height: 30px;
  border: none;
}
.navbar_style > button > span {
  background: #fff !important;
  margin-bottom: 6px;
  border-radius: 4px;

}
.nav-in{
    
background-color: #fa641c;  
color: white;

}


nav .nav-in {
    display: block;
    padding: 0 0;
    float: none;
    background-color: white;
}
header .header-in .logo a img {
    display: block;
    
}
fieldset, img {
    border: 0;
    margin-bottom: 20px;
   margin-left: 40px;
}

 nav .nav-in .nav-right ul li ul li a {
                display: block;
                padding: 7px 0 11px 41px;
                font-family: "Cairo-Regular";
                font-weight: normal;
                font-size: 14px;
                line-height: 14px;
                color: #000;
                text-transform: uppercase;
                position: relative; }





